@model IEnumerable<ASPBlog.Models.Article>

@{
    ViewData["Title"] = "Seznam článků";
}


@if (User.IsInRole(UserRoles.Admin))
{
    <p>
        <a class="clanky-tlacitko" asp-action="Create">Vytvořit nový</a>
    </p>
}




<ul class="list-group" id="clanky">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <h2><a asp-action="Details" asp-route-id="@item.Id" class="clanek-odkaz">@item.Title</a></h2>
            <p>@item.Description</p>
            @if (User.IsInRole(UserRoles.Admin))
            {
                <p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editovat</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                </p>
            }
           
        </li>
    }
</ul>


































@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 


@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
